.nav__link {
    margin-left: 55px;
    color: #54524f;
    text-decoration: none;
    opacity: 0.80;
    transition: opacity 0.1s linear;
}

.nav__link:hover {
    opacity: 1;
}

.intro {
    height: 957px;
    padding-top: 300px;
    background: #f1eeeb url("../public/intro/1.jpg") no-repeat center / cover;
}

.features {
    height: auto;
    background: url("../public/features/shadow.png") no-repeat;
    background-position: 0 75%;
}